# Importing Modules

In [90]:
import pandas as pd
import numpy as np

# Data Preprocessing

## Importing Dataset

In [93]:
# Define columns to be used for analysis and reading data from the csv file 

analysis_cols = ["Jurisdiction", 
                "Year", 
                "Fuel", 
                "Quantity"]

energy = pd.read_csv("Data/AES 2024 Table O FY - machine-readable.csv",
                     usecols = analysis_cols
                    )

energy

     Jurisdiction     Year                  Fuel   Quantity
0             AUS  1989-90         Bagasse, wood    750.000
1             AUS  1989-90                Biogas        NaN
2             AUS  1989-90            Black coal  87573.000
3             AUS  1989-90            Brown coal  33594.000
4             AUS  1989-90            Geothermal        NaN
...           ...      ...                   ...        ...
2080           WA  2022-23  Small-scale solar PV   3159.368
2081           WA  2022-23                 Total  44478.213
2082           WA  2022-23   Total non-renewable  36841.251
2083           WA  2022-23       Total renewable   7636.963
2084           WA  2022-23                  Wind   3378.649

[2085 rows x 4 columns]

In [94]:
energy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2085 entries, 0 to 2084
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Jurisdiction  2085 non-null   object
 1   Year          2085 non-null   object
 2   Fuel          2085 non-null   object
 3   Quantity      1527 non-null   float64
dtypes: float64(1), object(3)
memory usage: 65.3+ KB

In [95]:
energy.describe()

            Quantity
count    1527.000000
mean    22617.454900
std     47413.594407
min         0.039000
25%       419.524500
50%      2964.239000
75%     17069.561500
max    274474.842000

## Handling Missing Values

It can be inferred that the missing values for the Quantity Column means that there was no energy generated, thus the missing
values for the Quantity column will be filled with 0s.

In [98]:
energy["Quantity"] = energy["Quantity"].fillna(0)

energy

     Jurisdiction     Year                  Fuel   Quantity
0             AUS  1989-90         Bagasse, wood    750.000
1             AUS  1989-90                Biogas      0.000
2             AUS  1989-90            Black coal  87573.000
3             AUS  1989-90            Brown coal  33594.000
4             AUS  1989-90            Geothermal      0.000
...           ...      ...                   ...        ...
2080           WA  2022-23  Small-scale solar PV   3159.368
2081           WA  2022-23                 Total  44478.213
2082           WA  2022-23   Total non-renewable  36841.251
2083           WA  2022-23       Total renewable   7636.963
2084           WA  2022-23                  Wind   3378.649

[2085 rows x 4 columns]

## Converting the year columns from fiscal to calendar

In [100]:
# define a function to convert the fiscal years to calendar yeear  

def convert_fiscal_year(x):
    x = int(x[0:4]) + 1
    return x

# apply the function to year column

energy["Year"] = energy["Year"].apply(convert_fiscal_year)

energy

     Jurisdiction  Year                  Fuel   Quantity
0             AUS  1990         Bagasse, wood    750.000
1             AUS  1990                Biogas      0.000
2             AUS  1990            Black coal  87573.000
3             AUS  1990            Brown coal  33594.000
4             AUS  1990            Geothermal      0.000
...           ...   ...                   ...        ...
2080           WA  2023  Small-scale solar PV   3159.368
2081           WA  2023                 Total  44478.213
2082           WA  2023   Total non-renewable  36841.251
2083           WA  2023       Total renewable   7636.963
2084           WA  2023                  Wind   3378.649

[2085 rows x 4 columns]

Drop the Total, Total non-renewable and Total renewable columns to reduce the chance of rounding errors

In [102]:
rows = ["Total",
        "Total non-renewable",
        "Total renewable"
       ]

energy = energy.query("Fuel not in @rows")

energy["Fuel"].unique()

array(['Bagasse, wood', 'Biogas', 'Black coal', 'Brown coal',
       'Geothermal', 'Hydro', 'Large-scale solar PV', 'Natural gas',
       'Oil products', 'Other', 'Small-scale solar PV', 'Wind'],
      dtype=object)

In [103]:
# Filter the data to create a DataFrame for Australian energy statistics

aus_energy = energy.query("Jurisdiction == 'AUS'")
aus_energy

    Jurisdiction  Year                  Fuel   Quantity
0            AUS  1990         Bagasse, wood    750.000
1            AUS  1990                Biogas      0.000
2            AUS  1990            Black coal  87573.000
3            AUS  1990            Brown coal  33594.000
4            AUS  1990            Geothermal      0.000
..           ...   ...                   ...        ...
502          AUS  2023           Natural gas  48865.237
503          AUS  2023          Oil products   4864.397
504          AUS  2023                 Other      0.000
505          AUS  2023  Small-scale solar PV  25908.682
509          AUS  2023                  Wind  31384.874

[408 rows x 4 columns]

In [104]:
# Filter the data to create a DataFrame for Australian energy statistics by state

state_energy = energy.query("Jurisdiction != 'AUS'")

state_energy

     Jurisdiction  Year                  Fuel   Quantity
510           NSW  2009         Bagasse, wood    291.300
511           NSW  2009                Biogas    383.400
512           NSW  2009            Black coal  67650.300
513           NSW  2009            Brown coal      0.000
514           NSW  2009            Geothermal      0.000
...           ...   ...                   ...        ...
2077           WA  2023           Natural gas  27302.995
2078           WA  2023          Oil products   2197.932
2079           WA  2023                 Other      0.000
2080           WA  2023  Small-scale solar PV   3159.368
2084           WA  2023                  Wind   3378.649

[1260 rows x 4 columns]

In [105]:
# Create categories for renewable and non renewable 

renewable = ["Bagasse, wood",
             "Biogas",
             "Geothermal",
             "Hydro",
             "Large-scale solar PV",
             "Small-scale solar PV",
             "Wind"]

nonrenewable = ["Black coal", 
               "Brown coal", 
               "Natural gas", 
               "Oil products",
               "Other"]

In [106]:
# Create a pivot table for Australia

energy_pivot_aus = (aus_energy
                    .pivot_table(index = "Year",
                                 columns = "Fuel",
                                 values = "Quantity")
                   )

energy_pivot_aus

Fuel,"Bagasse, wood",Biogas,Black coal,Brown coal,Geothermal,Hydro,Large-scale solar PV,Natural gas,Oil products,Other,Small-scale solar PV,Wind
Year,,,,,,,,,,,,
1990,750.000,0.000,87573.000,33594.000,0.000,14880.000,0.000,14359.000,3552.000,0.0,0.000,0.000
1991,769.000,0.000,89511.000,36048.000,0.000,16103.000,0.000,10772.000,3396.000,0.0,0.000,0.000
1992,670.000,0.000,94325.100,34559.000,0.000,15768.000,0.000,11633.000,2362.000,0.0,10.900,0.000
1993,670.000,0.000,97872.700,33248.000,0.000,16953.000,0.000,12295.000,2421.000,0.0,13.300,0.000
1994,670.000,0.000,100544.100,34890.000,0.000,16649.000,0.000,12199.000,2320.000,0.0,15.900,4.000
1995,670.000,53.000,102522.100,35832.000,0.000,16239.000,0.000,14913.000,2738.000,0.0,18.900,7.000
1996,670.000,258.000,106089.600,39427.000,0.000,15731.000,0.000,12445.000,2805.000,0.0,23.400,7.000
1997,670.000,295.000,109452.200,41893.000,0.000,16852.000,0.000,11426.000,2175.000,0.0,27.800,7.000
1998,670.000,359.000,116969.500,46633.000,0.000,15733.000,0.000,12934.000,1821.000,0.0,33.500,8.000
1999,674.000,459.000,118586.300,49703.000,0.000,16563.000,0.000,16001.000,1729.000,0.0,37.700,28.000
2000,685.000,449.000,123833.500,50200.000,0.000,16720.000,0.000,16245.000,1784.000,0.0,43.500,58.000
2001,633.000,12.000,134264.000,52223.000,0.000,16933.000,0.000,17271.000,2044.000,0.0,50.000,210.000
2002,669.000,281.000,116774.700,56493.000,0.000,16054.000,0.000,31730.000,2446.000,0.0,58.300,364.000
2003,826.600,757.000,115296.600,55160.300,0.000,16490.000,0.000,29375.300,1661.000,1792.2,58.300,703.100
2004,1058.200,741.300,121182.300,55572.800,0.500,16331.100,0.000,30919.400,1388.700,1817.0,68.100,705.000
2005,3237.000,593.000,127788.500,53377.800,0.500,15612.200,0.000,23802.900,2841.000,434.0,77.800,885.000
2006,3268.000,643.000,130231.600,54552.800,0.500,16029.200,0.000,22725.900,3058.000,517.0,90.300,1713.100
2007,3316.000,637.000,132368.500,54375.800,0.500,14517.000,0.000,31849.900,2893.000,479.0,104.700,2611.100
2008,3737.000,859.000,129569.300,54658.700,0.500,12056.900,0.000,34955.800,4058.000,106.0,122.800,3093.100
2009,1763.400,1031.800,127270.500,56981.400,0.500,11869.400,0.000,37660.400,3387.900,0.0,155.600,3823.797
2010,1761.800,1015.600,123724.500,56068.300,0.500,13548.700,0.000,44587.800,3106.800,0.0,424.800,5051.709
2011,1077.000,1024.700,116948.800,55298.100,0.500,16806.700,0.000,48996.700,3093.800,0.0,1530.500,6084.891
2012,1606.306,1437.441,116654.300,55067.700,0.500,14083.300,0.000,48571.500,2702.500,0.0,2558.600,6969.828
2013,1714.340,1429.160,111491.100,47555.100,0.500,18269.600,0.000,51053.400,4464.300,0.0,3826.200,7959.600
2014,2053.487,1445.903,106965.495,46076.200,0.500,18420.900,49.678,54393.900,5012.300,0.0,4366.277,10251.939
2015,2353.376,1238.858,107639.400,50970.400,0.600,13445.000,107.221,52916.912,6828.450,0.0,5424.113,11466.485
2016,2493.407,1296.487,114263.032,48827.807,0.215,15318.180,457.212,50536.079,5655.616,0.0,6381.049,12199.498
2017,2251.590,1248.956,118235.959,43594.098,0.502,16284.887,672.397,50459.745,5272.589,0.0,7399.259,12596.985
2018,2258.893,1258.792,121689.290,36021.427,0.000,16020.789,1007.582,53881.669,4820.876,0.0,8922.359,15174.425
2019,2152.237,1343.644,119809.515,34495.245,0.000,15967.281,3732.360,52775.399,4922.945,0.0,11116.163,17711.951
2020,1989.764,1361.866,111860.822,33661.550,0.000,15149.633,7136.107,55216.284,4509.193,0.0,13897.088,20395.885
2021,1992.170,1354.012,106251.414,34060.028,0.000,15199.688,9637.887,49782.930,4661.886,0.0,18079.064,24535.369
2022,1817.451,1372.806,101076.158,32515.636,0.000,17010.891,12569.176,49280.225,4663.996,0.0,22117.450,29107.793
2023,1687.720,1405.074,96173.858,31459.126,0.000,16666.054,16059.820,48865.237,4864.397,0.0,25908.682,31384.874

In [107]:
# Create the new Total_renewable, Total_nonrenewable and Total_Electricity columns
energy_pivot_aus = (energy_pivot_aus
                    .assign(Total_renewable = energy_pivot_aus[renewable].sum(axis = 1),
                            Total_nonrenewable = energy_pivot_aus[nonrenewable].sum(axis = 1),
                            Total_Electricity = energy_pivot_aus.sum(axis = 1)
                   )
                   )

energy_pivot_aus

Fuel,"Bagasse, wood",Biogas,Black coal,Brown coal,Geothermal,Hydro,Large-scale solar PV,Natural gas,Oil products,Other,Small-scale solar PV,Wind,Total_renewable,Total_nonrenewable,Total_Electricity
Year,,,,,,,,,,,,,,,
1990,750.000,0.000,87573.000,33594.000,0.000,14880.000,0.000,14359.000,3552.000,0.0,0.000,0.000,15630.000,139078.000,154708.000
1991,769.000,0.000,89511.000,36048.000,0.000,16103.000,0.000,10772.000,3396.000,0.0,0.000,0.000,16872.000,139727.000,156599.000
1992,670.000,0.000,94325.100,34559.000,0.000,15768.000,0.000,11633.000,2362.000,0.0,10.900,0.000,16448.900,142879.100,159328.000
1993,670.000,0.000,97872.700,33248.000,0.000,16953.000,0.000,12295.000,2421.000,0.0,13.300,0.000,17636.300,145836.700,163473.000
1994,670.000,0.000,100544.100,34890.000,0.000,16649.000,0.000,12199.000,2320.000,0.0,15.900,4.000,17338.900,149953.100,167292.000
1995,670.000,53.000,102522.100,35832.000,0.000,16239.000,0.000,14913.000,2738.000,0.0,18.900,7.000,16987.900,156005.100,172993.000
1996,670.000,258.000,106089.600,39427.000,0.000,15731.000,0.000,12445.000,2805.000,0.0,23.400,7.000,16689.400,160766.600,177456.000
1997,670.000,295.000,109452.200,41893.000,0.000,16852.000,0.000,11426.000,2175.000,0.0,27.800,7.000,17851.800,164946.200,182798.000
1998,670.000,359.000,116969.500,46633.000,0.000,15733.000,0.000,12934.000,1821.000,0.0,33.500,8.000,16803.500,178357.500,195161.000
1999,674.000,459.000,118586.300,49703.000,0.000,16563.000,0.000,16001.000,1729.000,0.0,37.700,28.000,17761.700,186019.300,203781.000
2000,685.000,449.000,123833.500,50200.000,0.000,16720.000,0.000,16245.000,1784.000,0.0,43.500,58.000,17955.500,192062.500,210018.000
2001,633.000,12.000,134264.000,52223.000,0.000,16933.000,0.000,17271.000,2044.000,0.0,50.000,210.000,17838.000,205802.000,223640.000
2002,669.000,281.000,116774.700,56493.000,0.000,16054.000,0.000,31730.000,2446.000,0.0,58.300,364.000,17426.300,207443.700,224870.000
2003,826.600,757.000,115296.600,55160.300,0.000,16490.000,0.000,29375.300,1661.000,1792.2,58.300,703.100,18835.000,203285.400,222120.400
2004,1058.200,741.300,121182.300,55572.800,0.500,16331.100,0.000,30919.400,1388.700,1817.0,68.100,705.000,18904.200,210880.200,229784.400
2005,3237.000,593.000,127788.500,53377.800,0.500,15612.200,0.000,23802.900,2841.000,434.0,77.800,885.000,20405.500,208244.200,228649.700
2006,3268.000,643.000,130231.600,54552.800,0.500,16029.200,0.000,22725.900,3058.000,517.0,90.300,1713.100,21744.100,211085.300,232829.400
2007,3316.000,637.000,132368.500,54375.800,0.500,14517.000,0.000,31849.900,2893.000,479.0,104.700,2611.100,21186.300,221966.200,243152.500
2008,3737.000,859.000,129569.300,54658.700,0.500,12056.900,0.000,34955.800,4058.000,106.0,122.800,3093.100,19869.300,223347.800,243217.100
2009,1763.400,1031.800,127270.500,56981.400,0.500,11869.400,0.000,37660.400,3387.900,0.0,155.600,3823.797,18644.497,225300.200,243944.697
2010,1761.800,1015.600,123724.500,56068.300,0.500,13548.700,0.000,44587.800,3106.800,0.0,424.800,5051.709,21803.109,227487.400,249290.509
2011,1077.000,1024.700,116948.800,55298.100,0.500,16806.700,0.000,48996.700,3093.800,0.0,1530.500,6084.891,26524.291,224337.400,250861.691
2012,1606.306,1437.441,116654.300,55067.700,0.500,14083.300,0.000,48571.500,2702.500,0.0,2558.600,6969.828,26655.975,222996.000,249651.975
2013,1714.340,1429.160,111491.100,47555.100,0.500,18269.600,0.000,51053.400,4464.300,0.0,3826.200,7959.600,33199.400,214563.900,247763.300
2014,2053.487,1445.903,106965.495,46076.200,0.500,18420.900,49.678,54393.900,5012.300,0.0,4366.277,10251.939,36588.684,212447.895,249036.579
2015,2353.376,1238.858,107639.400,50970.400,0.600,13445.000,107.221,52916.912,6828.450,0.0,5424.113,11466.485,34035.653,218355.162,252390.815
2016,2493.407,1296.487,114263.032,48827.807,0.215,15318.180,457.212,50536.079,5655.616,0.0,6381.049,12199.498,38146.048,219282.534,257428.582
2017,2251.590,1248.956,118235.959,43594.098,0.502,16284.887,672.397,50459.745,5272.589,0.0,7399.259,12596.985,40454.576,217562.391,258016.967
2018,2258.893,1258.792,121689.290,36021.427,0.000,16020.789,1007.582,53881.669,4820.876,0.0,8922.359,15174.425,44642.840,216413.262,261056.102
2019,2152.237,1343.644,119809.515,34495.245,0.000,15967.281,3732.360,52775.399,4922.945,0.0,11116.163,17711.951,52023.636,212003.104,264026.740
2020,1989.764,1361.866,111860.822,33661.550,0.000,15149.633,7136.107,55216.284,4509.193,0.0,13897.088,20395.885,59930.343,205247.849,265178.192
2021,1992.170,1354.012,106251.414,34060.028,0.000,15199.688,9637.887,49782.930,4661.886,0.0,18079.064,24535.369,70798.190,194756.258,265554.448
2022,1817.451,1372.806,101076.158,32515.636,0.000,17010.891,12569.176,49280.225,4663.996,0.0,22117.450,29107.793,83995.567,187536.015,271531.582
2023,1687.720,1405.074,96173.858,31459.126,0.000,16666.054,16059.820,48865.237,4864.397,0.0,25908.682,31384.874,93112.224,181362.618,274474.842

In [108]:
# Rename the columns

# Create dictionary
colnames = {'Bagasse, wood':'Biomass (Bagasse, Wood)',
            'Black coal' :'Black Coal',
            'Brown coal':'Brown Coal', 
            'Large-scale solar PV':'Large-scale Solar PV',
            'Natural gas': 'Natural Gas', 
            'Oil products':'Oil Products', 
            'Small-scale solar PV':'Small-scale solar PV',
            'Total_renewable': 'Total Renewable', 
            'Total_nonrenewable': 'Total Non-Renewable',
            'Total_Electricity': 'Total Electricity'}

In [110]:
energy_pivot_aus = energy_pivot_aus.rename(colnames, axis = 1)

In [111]:
energy_pivot_aus.to_csv("data/energy_mix_1990_2023.csv")